:root {
    --primary-color: #f0f5f9;
    --secondary-color: #c9d6df;
    --tertiaty-color: #52616b;
    --quarternary-color: #1e2022;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--quarternary-color);
    font-family: 'JetBrains Mono', monospace;
}

header {
    background-color: var(--secondary-color);
    opacity: .8;
    display: flex;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 15px;
    background-position: cover;
    z-index: 1;
}

header h1 {
    font-size: 40px;
    text-shadow: 2px 2px white;
}

.menu-btn {
    display: none;
}

.lg-nav span {
    text-decoration: none;
    color: var(--quarternary-color);
    transition: 2s;
    z-index: 2;
}

.lg-nav li {
    position: relative;
}

.lg-nav span:before {
    content: "";
    height: 100%;
    width: 100%;
    background: var(--tertiaty-color);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 2s;
    z-index: -1;
}

.lg-nav span:hover::before {
    opacity: 1;
    transform: route(900deg);
    border-radius: 20%;
}
.lg-nav span:hover {
    color: var(--primary-color);
    font-weight: 700;
}

.lg-nav {
    margin: 15px;
}

.lg-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.lg-nav ul li {
    margin: 0 20px;
}

.hero {
    min-height: 350px;
    position: relative;
}

.ross-pic img {
    height: 200px;
    border-radius: 300px;
    transition: transform 2s;
    border: #1e2022;
}
.cool-subtitle {
    color: var(--primary-color);
    font-size: 30px;
    text-shadow: 2px 2px #1e2022;
}

.content {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 80vh;
    position: relative;
}

.her .content {
    margin: auto;
}

.title {
    display: flex;
    flex: 1 30%;
    border-right: 2px solid var(--quarternary-color);
    height: 100px;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    text-shadow: 2px 2px var(--secondary-color);
}

.words {
    display: flex;
    flex: 2 70%;
    padding: 30px;
    align-items: center;
}

.theGrid {
    flex: 2 70%;
    padding: 10px 30px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    border-radius: 20%;
}

.gridItem {
    position: relative;
    background-color: var(--tertiaty-color);
    border: 3px solid var(--quarternary-color);
}

.gridItem img {
    object-fit: cover;
    width: 100%;
    transition: 1s;
}

.gridItem img:hover {
    opacity: .3;
}

.gridItem p {
    position: absolute;
    bottom: 30%;
    color: var(--primary-color);
    background-color: var(--tertiaty-color);
    z-index: 3;
    font-size: 15px;
}

.gridItem1 {
    grid-column: 1/ span 2;
    grid-row: 1/ span 2;
}

#contact-me ul {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

#contact-me a {
    color: var(--quarternary-color);
}
#contact-me ul li {
    margin: 0 20px;
    text-decoration: underline;
    color: var(--quarternary-color);
}

@media screen and (max-width: 758px) {

    .menu-btn {
        display: block;
        cursor: pointer;
    }

    nav {
        position: relative;
        display: inline-block;
    }

    nav li {
        padding: 10px;
        display: none;
    }
    nav ul {
        margin:  0 0 0 50%;
        width: 50%;
    }

    nav ul:hover .menu-item {
        display: block;
    }

    nav ul:hover li {
        display: block;
        right: 30px;
    }

    .title {
        flex: 1 100%;
        border-radius: none;
        border-bottom: 2px solid var(--quarternary-color);
        height: 300px;
    }

}

@media screen and (max-width: 500px) {
    header h1 {
        font-size: 30px;
    }

    .theGrid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .content {
        margin: 0 auto;
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        min-height: 80vh;
        position: relative;
    }

    .words {
        flex: 1 100%;
    }

    .title {
        flex: 1 100%;
        border-right: none;
        border-bottom: 2px solid var(--quarternary-color);
        height: 300px;
    }

    .rosa-pic img {
        
    }

    #contact-me ul {
        justify-content: center;
        margin: 0 auto;
        width: 60%;
    }

    #contact-me li {
        padding: 10px 0;
    }
}
