:root {
    --dk-blue-color: #1E83AE;
    --blue-color: #125688;
    --light-green-color: #6cc644;
    --green-color: #6dc9a;
}

footer {
    width: 100%;
    display: inline-block;
    margin: 2em 0;
    height: 7%;
    background-color: #999;
    margin-bottom: 0;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
}

.copyright {
    width: 70%;
    float: left;
}

.copyright p {
    padding-left: 10%;
    color: white;
    font-size: 0.7rem;
    line-height: 70px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.social {
    width: 30%;
    float: right;
}

.social a {
    float: left;
    line-height: 70px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: bold;
}

.linked {
    background-color: var(--dk-blue-color);
    width: 30%;
}

.github {
    background-color: var(--light-green-color);
    width: 30%;
}

@media screen and (max-width: 768px) {
    .copyright {
        width: 0%;
        float: left;
    }

    .social {
        width: 90%;
        float: left;
    }
    
    footer {
        
    }
}
